@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    font-family: Roboto;
    background-color: black;

}

header {
    background-image: url(../img/ciudades.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

}

header img {
    width: auto;
    height: auto;
}

.card-body {
    background-color: black;
    text-align: center;
  }